<ion-header>
  <ion-img src="/assets/head.png" ></ion-img>
</ion-header>
<ion-header>
    <ion-toolbar>
      <ion-title>
        Lista do Prémio
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
 
<ion-content padding>

  <ion-list>
    <ion-item-sliding *ngFor="let contact of contacts | async">
      <div *ngIf="contact.event == 'p'">
      <ion-item [color]="changeColor(contact) ? 'success' : 'danger'">
        <h1>{{ contact.name }}</h1>
      </ion-item>
    </div>
      <ion-item-options side="start">
          <ion-button [color]="changeColor(contact) ? 'danger' : 'success'" (click)="setPresenceCheck(contact)">
              <ion-icon name="checkmark"></ion-icon>
            </ion-button>
        <ion-button color="secondary" (click)="editContact(contact)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="removeContact(contact.key)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
</ion-content>
  
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="qrRead()">
          <ion-icon name="qr-scanner"></ion-icon>
      </ion-fab-button>
    </ion-fab>


</ion-content>
