.present{
  --background: #66ee66;
  --border-radius: 10px;  
  --color: #f3f0f0;
}

.falt{
  --background: #f05050;
  --border-radius: 10px; 
  --color: #f3f0f0;
}

.pending{
  --background: yellow;
}


